{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bidding App</title>
    <link rel="stylesheet" href="{% static 'styles/welcome-page.css' %}">
</head>
<body>
    <header>
        <h1>Welcome, {{ username }}!</h1>
    </header>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h2>Items for auction</h2>
        <div class="item-container">
            {% for item in items %}
            <!-- Update the link below with the actual name of your url pattern for item details -->
            <!-- and ensure item.4 or the correct index is where the item's ID is stored -->
            <a href="{% url 'item_detail' item_id=item.0 %}" class="item-link">
                <div class="item">
                    <h3>{{ item.1 }}</h3>
                    <p class="seller">Seller: {{ item.2 }}</p>
                    <p class="price">{{ item.3}}</p>
                    <p class="end-date">Auction expires: {{ item.4 }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div> <!-- Close container div -->

    <div class="sell-section">
        <p>Ready to list your items? <a href="/add_item/" class="btn-link"><button type="button" class="add-item-button">List item</button></a></p>
    </div>

    <!-- Logout Button -->
    <div class="logout-button-container">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</body>
</html>
