/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a9460cec;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

h2 {
    font-family: 'Tahoma';
    text-align: center;
    margin-bottom: 20px;
    color: #a9460cec;
    font-size: 20px;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.item:hover {
    transform: translateY(-5px);
}

.item p.price {
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Bold text */
    color: #333; /* Darker color */
}

.seller {
    margin-top: -20px;
    color: #6c757d; 
    font-size: 14px;
}

.end-date {
    color: #6c757d; 
    font-size: 14px;
}

.end-date-time {
    color: #6c757d; 
    margin-top: -14px;
    font-size: 14px;
}


.sell-section {
    text-align: center;
    margin-top: 20px;
}

.sell-section p {
    margin-bottom: 10px;
}

.btn-link button.add-item-button {
    padding: 8px 24px;
    background-color: #a9460cec;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: lighter;
    margin-left: 10px; /* Add some spacing between the text and button */
}

.btn-link button.add-item-button:hover {
    background-color: #a9460cec;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logout-button-container {
    position: absolute;  /* Absolute position relative to its position context */
    top: 20px;          /* Position from the top of the viewport */
    right: 20px;        /* Position from the right of the viewport */
    z-index: 10;        /* Ensure it's on top of other elements */
}

button.logout-button {
    padding: 8px 16px;
    background-color: #dc3545; /* Bootstrap danger color for logout buttons */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button.logout-button:hover {
    background-color: #bd2130;
}

/* Add styles for Django messages */
.messages {
    margin: 1em 0; /* Adjust spacing as needed */
}

/* Style for success messages */
.success {
    color: #28a745;
    background-color: #daf5e9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #c3e6cb;  /* Light green border */
}

.alert.success-item {
    color: #28a745;
    padding: 5px;
    border-radius: 5px;
    background-color: #daf5e9;
    margin-bottom: 10px;
}

/* Items details page */
/* Item Detail Styles */

.item-detail-container {
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    border: none; /* Remove border if present */
    box-shadow: none; /* Remove shadow if present */
}

.item-header h2 {
    color: #a9460cec;
    margin-bottom: 10px;
}

.item-info p {
    margin-bottom: 5px;
    color: #333;
}

.price {
    font-weight: bold;
}

.end-date {
    font-style: italic;
    color: #888;
}

.bid-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 0px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.field-errors p, .errors p {
    color: #d9534f;
    padding: 5px;
    border-radius: 5px;
    background-color: #f2dede;
    margin-bottom: 10px;
    border: 1px solid #dab9b7;  /* Light green border */
}

.submit-button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a9460cec;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
    background-color: #8a3b0dec;
}

.home-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #a9460cec;
    text-decoration: none;
    transition: color 0.2s ease
}

/* Testing */
.message-container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.message.success {
    background-color: #4CAF50; /* green for success messages */
    color: white;
}

.message.error {
    background-color: #f44336; /* red for error messages */
    color: white;
}
