{% load static %} <!-- Load the static template tag library -->

<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <!-- Include Google Fonts and link to CSS file -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">  <!-- Link to the CSS file using the static tag -->
</head>
<body>
    <div class="container">
        <div class="icon">&#xe7fd;</div> <!-- Display the icon -->
        <h2>Create an account.</h2> 
        <form method="post"> <!-- Form for user input -->
            {% csrf_token %} 
            <label for="username">Enter username:</label> <!-- Label for username input -->
            {{ form.username }} <!-- Display the username input field -->
            {% if form.username.errors %} <!-- Check for username input errors -->
                <div class="alert alert-error"> <!-- Display error messages -->
                    {{ form.username.errors }}
                </div>
            {% endif %}
            {% if messages %} <!-- Check for any messages from the server -->
                {% for message in messages %} <!-- Iterate over messages -->
                    <div class="alert alert-{{ message.tags }}"> <!-- Display message with appropriate styling -->
                        {{ message }} <!-- Display the message content -->
                    </div>
                {% endfor %}
            {% endif %}
            <button type="submit" class="submit-button">Create account</button> <!-- Submit button for form -->
        </form>
        <br>
         
        <!-- <h2>Already have an account?</h2> 
        <div class="login-button-container"> This div will center the login link/button -->
            <!-- <a href="{% url 'login' %}" class="login-link">Login</a> Login link styled as a button -->
        <!-- </div> -->
        <!-- Other HTML elements above -->
        <div class="login-prompt">
            <h4>Already have an account? <a href="/login/" class="sign-in-link">Sign in.</a></h4>
        </div>
    </div>
</body>
</html>
